@charset "utf-8";
html,body{
  height: 100%;
  width: 100%;
}
/*内容部分*/
#section{
  padding-top: 80px;
  .sec_tit{
    p{
      padding: 30px 0 30px 0;
      margin-left: 82px;
      font-size: 24px;
      line-height: 24px;
      color: #fff;
    }
  }
  .sec_con{
    display: flex;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    padding: 30px 30px;
    .lft{
      width: 432px;
      height: 666px;
      img{
        width: 100%;
        height: 100%;
      }
    }
    .rgt{
      width: 566px;
      form{
        .reg{
          margin-bottom: 44px;
          label{
            font-size: 24px;
            line-height: 24px;
            color: #e5b08c;
            vertical-align: middle;
          }
          input{
            margin-left: 30px;
            padding-left: 10px;
            width: 400px;
            height: 35px;
            color: #fff;
            font-size: 18px;
            font-weight: 100;
            border: 2px solid #ffffff;
            border-radius: 8px;
            opacity: 0.6;
            line-height: 35px;
            background-color: transparent;
          }
          .msg_ipt{
            width: 190px;
          }

          .get{
            float: right;
            margin-right: 30px;
            line-height: 35px;
            font-size: 20px;
            color: #fff;
          }
          .qr_ipt{
            width: 190px;
            margin-left: 12px;
          }
          .get_qr{
            float: right;
            width: 160px;
            height: 35px;
            border: 2px solid #ffffff;
            opacity: 0.6;
          }

        }
        .reg_info{
          margin-top: 10px;
          float: right;
          width: 415px;
          display: flex;
          justify-content: space-between;
          a{
            color: #fff;
            font-size: 16px;
            line-height: 16px;
          }
        }
        .btm{
          margin-top: 10px;
          float: right;
          width: 426px;
          text-align: center;
          line-height: 65px;
          background-color: #e5b08c;
          border-radius: 8px;
          a{
            display: inline-block;
            width: 100%;
            height: 100%;
            color: #fff;
            font-size: 18px;
            line-height: 18px;
          }
        }
      }
    }

  }
}