@charset "utf-8";
html,body{
  height: 100%;
  position: relative;
}
/*内容部分*/

.contain{
  margin: 0 auto;
}

/*头部样式*/
#hd{
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background: rgba(0,0,0,0.2);
  .hd_tit{
    height: 60px;
    .tit_info{
      margin: 0 auto;
      width: 1180px;
      .tit_info_hd{
        margin: 5px 0;
        float: left;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        line-height: 80px;
        img{
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }
      .tit_info_txt{
        margin-left: 20px;
        float: left;
        p{
          padding: 18px 0;
          width: 130px;
          color: #fff;
          font-size: 16px;
          font-weight: 100;
          white-space:nowrap;
          overflow:hidden;
          text-overflow:ellipsis;
        }
      }
      .tit_list{
        display: inline-block;
        margin-left: 80px;
        width: 534px;
        line-height: 60px;
        vertical-align: bottom;
        ul{
          display: flex;
          flex: 1;
          justify-content: space-between;
          -webkit-justify-content: space-between;
          li{
            a{
              color: #fff;
              font-size: 16px;
              line-height: 16px;
              font-weight: 100;
            }
            a:hover{
              text-decoration: underline;
            }
          }
        }
      }
      .tit_login{
        display: inline-block;
        float: right;
        margin: 22px 0;
        a{
          font-size: 16px;
          color: #fff;
          line-height: 16px;
          font-weight: 100;
        }
        a:hover{
          text-decoration: underline;
        }
      }
    }
  }
}

/*底部样式*/
#ft{
  background: rgba(0,0,0,0.2);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  .ft_tit{
    height: 40px;
    .ft_tit_con{
      margin: 0 auto;
      width: 1180px;
      line-height: 40px;
      .con_lft{
        float: left;
        font-size: 14px;
        font-style: italic;
        span{
          color: #fff;
          a{
            color: #fff;
          }
          a:hover{
            text-decoration: underline;
          }
        }
      }
      .con_rgt{
        display: inline-block;
        float: right;
        span{
          a{
            font-size: 14px;
            line-height: 14px;
            font-style: italic;
            color: #fff;
          }
          a:hover{
            text-decoration: underline;
          }
        }
      }
    }
  }
}